
</br>

<div class = "container" align = "right">
	<%= link_to "List of Users" , users_show_path %></br>
	<%= link_to "List of Authors" , authors_path %></br>
	<%= link_to "List of Images" , images_path %>
</div>


<div class = "container">
	<table>
		<tr>
			<th>Image</th>
			<th>Title</th>
			<th>Description</th>
		</tr>
</div>